#start-slide a {
    color: white;
}

#start-slide p {
    color: #777;
    font-style: italic;    
}

ul.bulletless {
    list-style-type: none;
}

#tenforce table,
#tenforce table td {
    border: none;
}

#tenforce table tr td:first-child {
    text-align: right;
}

#sixty-seconds img,
#in-depth img {
    border: none;
    background-color: inherit;
}
